*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans,' sans serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}
header{
}
h1 {
font-family: 'Monoton', cursive;
font-size: 300%;
text-align: center;

image-rendering: initial;
}
header .hdrImgCon {
    width: 60%;
    margin: 0 auto;
}
header .hdrImgCon img {
    width: 100;
}
nav {
    width: 100%;
}

nav ul{
    width: 70%;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    width: 23%;
    list-style-type: none;
    text-align: center;
    font-size: 0.75rem;
}



nav ul li a:link {
text-decoration:none;
color: #000000;
display: block;
ba


}

nav ul li a:visited {
text-decoration:none;
color: #410202;
display: block;
back


}

nav ul li a:hover {
text-decoration:none;
color: #ffffff;
display: block;
back


}
nav ul li a:active {
text-decoration:n
display: block;
bac

}

aside {
    width: 27%;
    float: left;

}
aside h2 {
    text-align: center;
}
aside section h3 {
    text-align: center;
}
aside .top {
margin: 0 0 0 2%;
}
aside section .asImCon {
    width: 90%;
    margin: 0 auto;
}
aside section .asImCon img{
    width: 100%;
}

aside section ol {
    list-style-position: inside;
}
main {
    width: 70%;
    float: center;
}
section{
}
footer {
    clear: both;
}
footer p {
    padding: 1%;
    font-size: .75rem;
    font-weight: bold;
}
footer 
}